In [4]:
import pandas as pd   
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns

In [7]:
continents = pd.read_csv("../data/continents.csv")

In [8]:
continents.head()

  Continent      Country
0      Asia  Afghanistan
1    Europe      Albania
2    Africa      Algeria
3    Europe      Andorra
4    Africa       Angola